
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  padding: 50px;
}
header,
h1 {
  background-color: black;
  color: white;
  padding-left: 2%;
  font-size: small;
  margin-right: 100px;
  font-family: Montserrat;
}
h2 {
  background-color: black;
  color: white;
  padding-left: 2%;
  font-size: smaller;
  margin-right:100px ;
  margin-left: 0px;
}
label {
  margin-bottom: 10px;
  display: inline-block;
}
.an {
  display: block;
}
.col {
  margin: 0 2px;
}
.row {
  width: 100%;
  padding: 2px;
}
.long {
  width: 600px;
}
.longer {
  width: 800px;
}
.img{
  padding-left: 80%;
  
}

image{
  height: 1rem;
}
.certification{
  margin-top: 20px
}
