* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header,
h1 {
  background-color: black;
  color: white;
  padding-left: 2%;
  font-size: small;
}
h2 {
  background-color: black;
  color: white;
  padding-left: 2%;
  font-size: smaller;
}
label {
  margin-bottom: 10px;
  display: inline-block;
}
.an {
  display: block;
}
.col {
  margin: 0 2px;
}
.row {
  width: 100%;
  padding: 2px 4px;
}
.long {
  width: 600px;
}
.longer {
  width: 800px;
}
