*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


img{
    height: 400px;
    width: 350px;
    /* margin: 50px 20px 20px 20px; */
}

/* h1{
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
} */
/* p{
    max-width: 80rem;
    margin: 20px;
} */


a:hover{
    color:blue;
}


body{
    height: 100vh;
    
}
p{
    font-size:large;
}
.head-container{
    height: 10%;
    
}
.main-container{
    height:90%;
background-color:beige;
}
.content{
    display: flex;
    
}
.burna{
    width: 20rem;
    height: 25rem;
}
.wizkid{
    width:30rem;
    height: 25rem;
    padding-top: 20px;
}